@import 'bourbon';
@import 'normalize';
@import 'variables';
@import 'typography';
@import 'animations';
@import "font-awesome-sprockets";
@import "font-awesome";

body#application.index {
  position: relative;
  h2, h3 { text-align: center; }

  a#brand {
    @include position(absolute, 0px null null 0px);
    padding: 16px;
    color: $white;
    text-decoration: none;
    z-index: $z-index-jumbotron;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
    &:hover { opacity: 1; }
  }

  /*********************************************/
  /* Mobile                                    */
  /*********************************************/

  section#jumbotron {
    position: relative;
    padding: 16px;
    min-height: 100vh;
    background-image: image-url('675073365.jpg');
    background-size: cover;
    background-position: 45% center;
    overflow: auto;
    &:before {
      content: '';
      @include position(absolute, 0px);
      background-color: rgba(57, 40, 23, 0.64);
    }

    #jumbotron-content-wrapper {
      position: relative;
      padding: 3em 16px;
      margin: auto;
      max-width: 700px;
      text-align: center;
      z-index: $z-index-jumbotron;
      h1 {
        font-size: 14vw;
        line-height: 14vw;
        color: $white;
        text-shadow: 0px 1px 1px #000;
      }
      p {
        margin-top: 3rem;
        font-size: 1.25rem;
        line-height: 2rem;
        color: #d4d1cc;
        text-shadow: 0px 2px 1px #0C0707, 0px 2px 15px #0C0707, 0px 12px 25px #0C0707;
      }
    }

    #scroll-down, video {
      display: none;
    }

    /*********************************************/
    /* Desktop                                   */
    /*********************************************/

    @media(min-width: 560px) {
      padding: 0px 16px;
      background: $dark-brown;
      &:before {
        background-color: rgba(96, 72, 47, 0.44);
      }

      #jumbotron-content-wrapper {
        @include position(absolute, 0px);
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        p {
          margin-top: 3rem;
          font-size: 1.25rem;
          line-height: 2rem;
        }
      }

      #scroll-down {
        display: block;
        @include position(absolute, null 0px 16px 0px);
        z-index: $z-index-jumbotron;
        text-align: center;
        animation: pulse 4s ease 3.5s infinite normal;
        opacity: 0.5;
        img {
          width: 100px;
        }
      }

      video {
        display: block;
        @include position(absolute, 0px null null null);
        margin: 0px -16px;
        width: 100%; height: 100%;
        object-fit: cover;
        opacity: 0.5;
      }
    }
  }
  /*********************************************/
  /* Mobile                                    */
  /*********************************************/
  section#who-we-are {
    > div {
      display: flex;
      flex-direction: column;

      figure {
        flex: 1 1 100%;
        align-self: center;
        border-radius: 50%;
        > div {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background-size: cover;
          margin-right: auto;
          margin-left: auto;
          &.jeff {
            background-image: asset_url('jeff.jpg');
            background-position: 0px -35px;
          }
          &.gianna {
            background-image: asset_url('gianna-linkedin.jpg')
          }
        }
        figcaption {
          span {
            font-size: 1.5em;
            display: flex;
            justify-content: space-around;
            margin: 20px 0px;

            a {
              background: #330036;
              padding: 5px;
            }
          }
        }
      }
    }
    /*********************************************/
    /* Desktop                                    */
    /*********************************************/
    @media(min-width: 560px) {
      > div {
        flex-direction: row;
        justify-content: space-around;
        figure {
          flex: inherit;
        }
      }
    }
  }

  section#our-projects {
    ul.grid {
      display: flex;
      li figure {
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
      }
      li#super-pups {
        flex: 1 1 40%;
        figure {
          background-image: asset_url('projects/super-pups.png');
        }
      }
      li#isports {
        flex: 1 1 60%;
        figure {
          background-image: asset_url('projects/isports.jpg');
        }
      }
      li#ottos {
        flex: 1 1 30%;
        figure {
          background-image: asset_url('projects/ottos.png');
        }
      }
    }
  }

  footer {
    height: 50px;
    position: absolute;
    width: 100%;
    background: #2c3e50;
  }
}
