@import 'bourbon';
@import 'normalize';
@import 'wtf-forms';
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'variables';
@import 'typography';
@import 'animations';
@import 'forms';

html {
  background-color: $dark-brown;
}

body#application.index {
  position: relative;
  h1, h2, h3 { text-align: center; }

  a#brand {
    @include position(absolute, 0px null null 0px);
    padding: 1rem;
    color: $white;
    text-decoration: none;
    z-index: $z-index-jumbotron;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
    &:hover { opacity: 1; }
  }

  .container {
    margin: auto;
    max-width: $layout-max-width;
    & > h2 + p {
      text-indent: 1rem;
    }
  }

  & > section {
    padding: 1rem;
    overflow: auto;
  }

  /*********************************************/
  /* Jumbotron                                 */
  /*********************************************/

  section#jumbotron {
    position: relative;
    min-height: 100vh;
    background-image: image-url('675073365.jpg');
    background-size: cover;
    background-position: 45% center;
    &:before {
      content: '';
      @include position(absolute, 0px);
      background-color: rgba(57, 40, 23, 0.64);
    }

    #jumbotron-content-wrapper {
      position: relative;
      padding: 3em 1rem;
      margin: auto;
      max-width: 700px;
      text-align: center;
      z-index: $z-index-jumbotron;
      h1 {
        font-size: 14vw;
        line-height: 14vw;
        color: $white;
        text-shadow: 0px 1px 1px #000;
      }
      p {
        margin-top: 3rem;
        font-size: 1.25rem;
        line-height: 2rem;
        color: #d4d1cc;
        text-shadow: 0px 2px 1px #0C0707, 0px 2px 15px #0C0707, 0px 12px 25px #0C0707;
      }
    }

    #scroll-down, video {
      display: none;
    }

    // desktop
    @media(min-width: 560px) {
      padding: 0px 1rem;
      background: $black;
      &:before {
        background-color: rgba(96, 72, 47, 0.44);
      }

      #jumbotron-content-wrapper {
        @include position(absolute, 0px);
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        p {
          margin-top: 3rem;
          font-size: 1.25rem;
          line-height: 2rem;
        }
      }

      #scroll-down {
        display: block;
        @include position(absolute, null 0px 1rem 0px);
        z-index: $z-index-jumbotron;
        text-align: center;
        animation: pulse 4s ease 3.5s infinite normal;
        opacity: 0.5;
        &:focus {
          outline: 0;
        }
        img {
          width: 100px;
        }
      }

      video {
        display: block;
        @include position(absolute, 0px null null null);
        margin: 0px -1rem;
        width: 100%; height: 100%;
        object-fit: cover;
        opacity: 0.5;
      }
    }
  }

  /*********************************************/
  /* Who We Are                                */
  /*********************************************/

  section#who-we-are {
    padding-bottom: 4rem;
    background-color: #e2ded9;
    background-image: image-url('otis-redding.png');
    box-shadow: inset 0px 6px 20px -3px rgba(29, 22, 16, 0.65);

    .profile-card {
      margin-top: 3rem;

      figure {
        position: relative;
        margin: auto;
        background-size: cover;
        background-position: center center;
        border-radius: 2px;
        box-shadow: 0px 4px 20px -6px #bbb;
        -webkit-filter: sepia(0.3);
        &.jeff { background-image: image-url('jeff.jpg'); }
        &.gianna { background-image: image-url('gianna.jpg'); }
        &:before {
          content: "";
          display: block;
          padding-top: 90.93%;
        }
      }

      article {
        width: 95%;
        margin: auto;
        background-color: $white;
        border-radius: 2px;
        overflow: auto;
        text-align: center;
        box-shadow: 0px 4px 20px -6px #bbb;
        p {
          margin-top: 12px;
          padding: 0px 1rem;
          font-size: 0.9rem;
          line-height: 1.5rem;
          text-align: left;
        }
        ul {
          display: flex;
          justify-content: space-around;
          padding: 0px;
          list-style: none;
          li a {
            font-size: 1.5rem;
            color: $black;
            transition: color 0.15s ease-in-out;
            i {
              transition: transform 0.15s ease-in-out;
              vertical-align: middle;
              &[class*="github"] {
                font-size: 1.7rem;
              }
            }
            &:hover {
              cursor: pointer;
              color: $red;
              i {
                transform: scale(1.5, 1.5);
              }
            }
          }
        }
      }
    }

    // desktop
    @media(min-width: 560px) {
      .profile-card {
        display: flex;
        figure {
          flex: 1 0 50%;
          max-width: 350px;
          box-shadow: 2px 4px 20px -2px #bbb;
        }
        &:last-child {
          flex-direction: row-reverse;
          figure { box-shadow: -2px 4px 20px -2px #bbb; }
        }
      }
    }
  }

  /*********************************************/
  /* What We Do                                */
  /*********************************************/

  section#what-we-do {
    padding-bottom: 3rem;
    background-color: #fff;

    ul#services {
      margin: auto;
      padding: 0px;
      list-style-type: none;
      li {
        padding: 2rem 1rem;
        text-align: center;
        i { font-size: 2.5rem; }
        img { width: 256px; }
        h4 { margin-top: 0.25rem; }
        p {
          margin-top: 0.2rem;
          font-size: 0.85rem;
          line-height: 1.35rem;
        }
      }

      @media(min-width: 560px) {
        display: flex;
        flex-wrap: wrap;
        li {
          padding: 1rem 0px;
          flex: 1 1 50%;
          p {
            padding: 0px 2rem;
          }
        }
      }
    }

    ul#tools {
      display: flex;
      justify-content: space-between;
      padding: 0px;
      a {
        font-size: 3.5rem;
        text-decoration: none;
        i {
          color: rgba(0,0,0,0.25);
          transition: color 0.3s;
        }
        &:hover {
          i[class*="photoshop"] { color: #00a4e4; }
          i[class*="illustrator"] { color: #fbb034; }
          i[class*="ruby"] { color: #cc342d; }
          i[class*="rails"] { color: #CC0000; }
          i[class*="html5"] { color: #E34C26; }
          i[class*="css3"] { color: #2162AF; }
          i[class*="coffeescript"] { color: #28334C; }
          i[class*="javascript"] { color: #F0DB4F; }
        }
      }
    }
  }

  /*********************************************/
  /* Our Projects                              */
  /*********************************************/

  section#our-projects {
    background-image: radial-gradient(darken($deep-purple, 0%), darken($deep-purple, 5%));
    h2 { color: #fff; }

    .project {
      margin-top: 2rem;
      figure {
        margin: auto auto 1rem auto;
        text-align: center;
        img {
          width: 100%;
          margin: auto -16px;
        }
      }
      article {
        padding: 16px;
        background-color: $white;
        border-radius: 2px;
        box-shadow: 0px 2px 10px 0px #000;
        h3 {
          margin-top: 0.2rem;
          & + div {
            font-size: 0.68rem;
            font-style: italic;
            text-align: center;
          }
        }
        p {
          margin: 1rem 0rem;
          font-size: 0.85rem;
          line-height: 1.35rem;
        }
        a:last-child {
          display: block;
          margin: 0px -16px -16px;
          padding: 16px;
          text-align: center;
          background-color: $light-grey;
        }
      }

      @media(min-width: 560px) {
        display: flex;
        align-items: center;
        figure { flex: 1 1 60%; }
        .flex-wrapper { flex: 1 1 40%; }
      }
    }
  }

  /*********************************************/
  /* Contact Us                                */
  /*********************************************/

  section#contact-us {
    padding-bottom: 2.5rem;
    background-color: #e2ded9;
    background-image: image-url('otis-redding.png');
    text-align: center;

    small {
      display: block;
      margin-bottom: 2rem;
      font-style: italic;
      color: #666;
    }
    form {
      position: relative;
      margin: auto;
      max-width: 700px;
      input[type="email"], textarea {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
        border: 1px solid rgba(53, 45, 36, 0.30);
        transition: border 0.2s ease-in-out;
        &:active, &:focus {
          border: 1px solid $brown;
          box-shadow: none;
          outline: none;
        }
      }

      input[type="submit"] {
        background-color: $deep-purple;
        color: $white;
        &[disabled] {
          opacity: 0.2;
        }
      }

      &:before {
        display: flex;
        align-items: center;
        justify-content: center;
        content: "Thanks for reaching out!\AWe'll be in touch within a few business days.";
        @include position(absolute, 0px);
        background-color: rgba($tan,0.85);
        background-image: image-url('otis-redding.png');
        white-space: pre;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
      }

      &.thank-you:before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  /*********************************************/
  /* Footer                                    */
  /*********************************************/

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    width: 100%;
    background: $dark-brown;
    overflow: auto;
    text-align: center;

    h4 {
      margin: auto auto 1rem auto;
      font-family: 'Raleway';
      font-weight: 300;
      color: $white;
    }

    ul {
      display: flex;
      justify-content: space-around;
      margin: auto;
      padding: 0px;
      max-width: 400px;
      list-style-type: none;

      a {
        color: rgba(#fff, 0.5);
        font-size: 2rem;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: rgba(#fff, 1);
        }
      }
    }

    small {
      @include position(absolute, null 0px 0.6rem 0px);
      font-size: 0.6rem;
      color: rgba(#fff, 0.6);
    }
  }
}
