form {
  .select select,
  input[type="tel"],
  input[type="number"],
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    padding: 0.4em 0.6em;
    border: 1px solid #bbb;
    border-radius: 2px;
    background-color: $white;
    -webkit-appearance: none;
    font-family: '-apple-system','Helvetica Neue',sans-serif;
    letter-spacing: 0.025em;
    box-sizing: border-box;

    &.invalid {
      border: 1px solid #D91E18;
    }

    &:active, &:focus {
      border: 1px solid $brown;
      box-shadow: none;
      outline: none;
    }

    &[disabled="disabled"] {
      background-color: #f7f7f7;
      color: #858585;
    }
  }

  input[type="submit"],
  button {
    font-family: "Raleway";
    padding: 0.625rem 1rem;
    background: #bbb;
    border: 0px;
    border-radius: 2px;
  }
}

.activerecord-errors {
  margin: 1em auto;
  h4, li { color: #D91E18; }
}
