/*
  Based on Typebase v0.1.0 (MIT License)
  https://github.com/devinhunt/typebase.css
*/

@include font-face("Bitter", "bitter/Bitter-Regular", $file-formats: ttf, $asset-pipeline: true) { font-style: normal; };
@include font-face("Bitter", "bitter/Bitter-Italic",  $file-formats: ttf, $asset-pipeline: true) { font-style: italic; };
@include font-face("Bitter", "bitter/Bitter-Bold",    $file-formats: ttf, $asset-pipeline: true) { font-style: bold; };

@include font-face("Raleway", "raleway/Raleway-Thin",       $file-formats: ttf, $asset-pipeline: true) { font-weight: 100; font-style: normal; }
@include font-face("Raleway", "raleway/Raleway-ExtraLight", $file-formats: ttf, $asset-pipeline: true) { font-weight: 200; font-style: normal; }
@include font-face("Raleway", "raleway/Raleway-Light",      $file-formats: ttf, $asset-pipeline: true) { font-weight: 300; font-style: normal; }
@include font-face("Raleway", "raleway/Raleway-Regular",    $file-formats: ttf, $asset-pipeline: true) { font-weight: 400; font-style: normal; }
@include font-face("Raleway", "raleway/Raleway-Medium",     $file-formats: ttf, $asset-pipeline: true) { font-weight: 500; font-style: normal; }
@include font-face("Raleway", "raleway/Raleway-SemiBold",   $file-formats: ttf, $asset-pipeline: true) { font-weight: 600; font-style: bold; }
@include font-face("Raleway", "raleway/Raleway-Bold",       $file-formats: ttf, $asset-pipeline: true) { font-weight: 700; font-style: bold; }
@include font-face("Raleway", "raleway/Raleway-ExtraBold",  $file-formats: ttf, $asset-pipeline: true) { font-weight: 800; font-style: bold; }
@include font-face("Raleway", "raleway/Raleway-Black",      $file-formats: ttf, $asset-pipeline: true) { font-weight: 900; font-style: bold; }

@include font-face("Raleway", "raleway/Raleway-ThinItalic",       $file-formats: ttf, $asset-pipeline: true) { font-weight: 100; font-style: italic; }
@include font-face("Raleway", "raleway/Raleway-ExtraLightItalic", $file-formats: ttf, $asset-pipeline: true) { font-weight: 200; font-style: italic; }
@include font-face("Raleway", "raleway/Raleway-LightItalic",      $file-formats: ttf, $asset-pipeline: true) { font-weight: 300; font-style: italic; }
@include font-face("Raleway", "raleway/Raleway-Italic",           $file-formats: ttf, $asset-pipeline: true) { font-weight: 400; font-style: italic; }
@include font-face("Raleway", "raleway/Raleway-MediumItalic",     $file-formats: ttf, $asset-pipeline: true) { font-weight: 500; font-style: italic; }
@include font-face("Raleway", "raleway/Raleway-SemiBoldItalic",   $file-formats: ttf, $asset-pipeline: true) { font-weight: 600; font-style: oblique; }
@include font-face("Raleway", "raleway/Raleway-BoldItalic",       $file-formats: ttf, $asset-pipeline: true) { font-weight: 700; font-style: oblique; }
@include font-face("Raleway", "raleway/Raleway-ExtraBoldItalic",  $file-formats: ttf, $asset-pipeline: true) { font-weight: 800; font-style: oblique; }
@include font-face("Raleway", "raleway/Raleway-BlackItalic",      $file-formats: ttf, $asset-pipeline: true) { font-weight: 900; font-style: oblique; }

html {
  font-family: "Raleway";
  font-size: 137.5%;
  font-feature-settings: "liga", "pnum", "kern" false;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}

/***********************************************/
/* Copy & Lists                                */
/***********************************************/

a {
  color: $red;
  font-weight: 500;
}

p {
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  list-style-type: none;
}

ul li, ol li {
  line-height: 1.5rem;
}

ul ul, ol ul, ul ol, ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/***********************************************/
/* Headings                                    */
/***********************************************/

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter";
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
  &h1 {
    font-size: 4.242rem;
    line-height: 4.5rem;
    margin-top: 3rem;
  }
  &h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem;
  }
  &h3 { font-size: 1.414rem; }
  &h4 { font-size: 0.707rem; }
  &h5 { font-size: 0.4713333333333333rem; }
  &h6 { font-size: 0.3535rem; }
}

/***********************************************/
/* Tables                                      */
/***********************************************/

table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;

  td, th {
    padding: 0;
    line-height: 33px;
  }
}

/***********************************************/
/* Code blocks                                 */
/***********************************************/

code {
  vertical-align: bottom;
}

/***********************************************/
/* Helpers                                     */
/***********************************************/

/* Leading paragraph text */
.lead { font-size: 1.414rem; }

/* Hug the block above you */
.hug { margin-top: 0; }
