
// colors
$white: #fff;

$light-grey: #E9E8E7;
$grey: #ccc;
$dark-grey: #333;

$red: #990000;

$light-brown: #C2A587;
$dark-brown: #080705;
$tan: #e2ded9;

$bright-pink: #FF4500;
$dark-blue: #002C91;

$brown: #332211;

$deep-brown: #271A12;
$deep-blue: #112233;
$deep-purple: #331122;
$deep-red: #331711;
$deep-green: #223311;

$black: #1E1610;

// widths
$layout-max-width: 1140px;

// z-indices
$z-index-jumbotron: 100;
