
// colors
$white: #fff;
$tan: #e2ded9;
$light-grey: #e9e8e7;
$red: #990000;
$brown: #332211;
$dark-brown: #1E1610;
$black: #080705;

$deep-brown: #271A12;
$deep-blue: #112233;
$deep-purple: #331122;
$deep-red: #331711;
$deep-green: #223311;

// widths
$layout-max-width: 1140px;

// z-indices
$z-index-jumbotron: 100;
