<%= link_to 'OverWine.io', root_path, id: 'brand' %>

<section id="jumbotron">
  <div id="jumbotron-content-wrapper">
    <div>
      <h1>Relax. Let us build your next MVP.</h1>
      <p>With over 10 years of industry experience working with startups and small businesses alike, we can help get your idea off the ground and take it to the next level.</p>
    </div>
  </div>
  <%= video_tag ["/videos/675073365.mp4", "/videos/675073365.webm"], poster: image_path('675073365.jpg'), autoplay: true, loop: true, muted: true %>
</section>

<section id="who-we-are">
  <h2>Who We Are</h2>
</section>
