<%= link_to 'OverWine.io', root_path, id: 'brand' %>

<section id="jumbotron">
  <div id="jumbotron-content-wrapper">
    <div>
      <h1>Relax. Let us build your next MVP.</h1>
      <p>With over 10 years of industry experience working with startups and small businesses alike, we can help get your idea off the ground and take it to the next level.</p>
    </div>
  </div>
  <%= link_to image_tag("arrow-down.svg"), '#', id: 'scroll-down' %>
  <%= video_tag ["/videos/675073365.mp4", "/videos/675073365.webm"], poster: image_path('675073365.jpg'), autoplay: true, loop: true, muted: true %>
</section>


<section id="who-we-are">
  <h2>Who We Are</h2>

  Ugh put a bird on it semiotics art party kogi. Jianbing lumbersexual master cleanse, heirloom farm-to-table austin pug live-edge keytar chambray truffaut gochujang literally blue bottle. Microdosing hot chicken paleo distillery. VHS raw denim iPhone, tacos microdosing poutine pork belly yr letterpress. Wayfarers put a bird on it pop-up, you probably haven't heard of them bespoke fap taxidermy waistcoat sartorial. Green juice lumbersexual truffaut, stumptown hell of occupy air plant mixtape retro tbh listicle. Authentic meggings franzen sriracha selvage, 3 wolf moon brunch keffiyeh.

Distillery deep v brooklyn, etsy wolf YOLO af art party gochujang godard selfies lyft. Master cleanse hot chicken leggings photo booth. Kitsch offal XOXO synth tbh, small batch deep v jean shorts irony. Edison bulb mumblecore bitters, ennui pickled hexagon seitan succulents schlitz sartorial plaid before they sold out woke 90's. Hella umami pitchfork, church-key seitan chia woke biodiesel succulents put a bird on it tofu selvage sartorial lumbersexual. Waistcoat iceland fam truffaut, actually mlkshk drinking vinegar live-edge beard tousled migas raclette seitan schlitz sartorial. Live-edge iPhone polaroid, meggings skateboard trust fund williamsburg sustainable fingerstache next level.

Lo-fi mlkshk flannel, pok pok truffaut artisan subway tile drinking vinegar farm-to-table health goth sriracha authentic. Chartreuse selvage austin, gentrify narwhal retro cred distillery vinyl locavore tattooed live-edge four loko keytar vexillologist. Knausgaard mustache salvia, portland la croix kale chips letterpress kombucha echo park whatever. Leggings normcore bushwick, activated charcoal PBR&B pinterest hoodie lo-fi unicorn fap. Selvage hot chicken aesthetic selfies food truck mixtape. Umami chartreuse hashtag, poke poutine pabst gastropub echo park vice four dollar toast single-origin coffee XOXO. Flexitarian distillery selfies, four loko viral umami gentrify irony lo-fi beard DIY enamel pin twee pitchfork.

Cornhole literally four dollar toast, jianbing cold-pressed neutra shoreditch affogato master cleanse plaid helvetica retro. Leggings whatever chambray DIY, ennui kale chips venmo live-edge celiac. Knausgaard hoodie flexitarian, tote bag intelligentsia chicharrones copper mug wolf tumeric coloring book sustainable. Tattooed before they sold out stumptown vaporware fam disrupt. Twee messenger bag williamsburg YOLO. Fam church-key snackwave mixtape, street art hammock chia. Banh mi literally twee man braid asymmetrical.
</section>
